{% extends 'gc/grid.html.twig' %}
{% set active = 'propiedades' %}
{% set collectionname = active %}

{% block actioncontent %}
<div class="row">

    <div class="span12">          
        <form action="{{path('propiedades',{consorcioid:consorcioid})}}" method="post"> 
            <div id="actions">
                <a id="new" class="btn btn-primary" href="#">{{'New'}}</a>
                <button type="submit" class="btn btn-success">{{'Save changed'}}</button>
                <a id="btnCancel" class="btn btn-primary" href="{{path('propiedades',{consorcioid:consorcioid})}}">{{'Cancel'}}</a>
            </div>
            {{ form_widget(form) }}
        </form>    

    </div>
  </div>

{% endblock actioncontent %}